*{
  margin:0;
  scroll-behavior: smooth;
  transition: scroll 500ms ease-in-out;
}

html{
  scroll-behavior: smooth;
  transition: all 5s linear;
}

* ::-webkit-scrollbar{
  display:none
}
.App{
  height:100vh
}

.App .section{
  width:100%;
  position:relative;
}
.App .section>*{
  width:100%
}
